# Motmot Trigger/ADC Device
# for udev >= 175
SUBSYSTEM=="usb", ACTION=="add", ATTR{idVendor}=="1781", ATTR{idProduct}=="0baf", GROUP="plugdev", MODE="0660"
