# Motmot Trigger/ADC Device
SUBSYSTEM=="usb_device", ACTION=="add", SYSFS{idVendor}=="1781",
SYSFS{idProduct}=="0baf", GROUP="camtrigger", MODE="0660"
